@import "tailwindcss";

:root {
  --background: #0b0a0f;
  --foreground: #ffffff;
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-manrope-sans);
}

.containerFull {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 84px;
}

/* globals.css yoki tailwind.css ichida */
.btn-gradient {
  background: linear-gradient(
    84deg,
    #de5d00 0%,
    #fd6900 26.47%,
    #ffa362 60.32%,
    #fd6900 100%
  );
  transition: all 0.3s ease-in-out;
}

.btn-gradient:hover {
  background: linear-gradient(
    84deg,
    #fd6900 0%,
    #ffa362 30%,
    #de5d00 70%,
    #fd6900 100%
  );
  transition: all 0.3s ease-in-out;
}
.grbg {
  background-image: url("/grbg1.png");
  background-repeat: no-repeat;
  background-size: 600px;
  background-position: bottom right;
}

@media only screen and (max-width: 768px) {
  .container {
    padding: 0 20px;
  }
  .bgrbg {
    background-image: url("/grbg2.png");
    background-repeat: no-repeat;
    background-size: 100% 540px;
    background-position: bottom center;
  }
}
